<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GPUImageVideoTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>33FCBE9A1E1109C800A50207</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33FCBEB31E1109C800A50207</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33FCBEBE1E1109C800A50207</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
